@import "./variables";
@import "./profile";

#tmp-post-container {
  width: 100%;
  margin: 0 auto 0 auto;
}

.post {
  @include profile-section;
  width: 100%;

  padding: 3% 3% 0 3%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.post-header {
  width: 100%;

  display: flex;
  flex-direction: row;

  border-bottom: $post-inner-border;
  align-items: center;
}

.post-identity-container {
  width: 85%;
  margin: 0 0 5px 0;

  display: flex;
  flex-direction: row;
}

.post-profile-photo {
  width: $post-profile-photo-rad;
  height: $post-profile-photo-rad;

  margin-right: 5px;

  background-color: whitesmoke;

  border-radius: 50%;
  flex-shrink: 0;
}

.post-content {
  width: 100%;
  margin: 15px 0 15px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.post-footer {
  width: 100%;
  border-top: $post-inner-border;

  display: flex;
  flex-direction: row;
  Button {
    width: 100%;
  }
}
