@import "./variables";

#profile {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#profile-two-colums {
  width: 70%;
  margin: 20px auto 10px auto;
}

#profile-left-column {
  height: min-content;
  display: flex;
  flex-direction: column;
  //position: sticky;
  //top: 70px; // to pass the bar height (64px)

  h3 {
    margin-top: 0px;
  }

  .profile-left-col-section {
    padding: 10px;

    .profile-about-data {
      display: flex;
      flex-direction: column;

      .MuiSvgIcon-root {
        color: $general-section-icon-color;
      }

      .data-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: medium;
        margin-bottom: 15px;

        span {
          font-weight: 500;
          color: $primary-text;
        }
        &.country-data span::before {
          content: "From ";
          font-size: 15px;
          font-weight: 400;
        }
        &.city-data span::before {
          content: "Lives in ";
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }

  #profile-posts-images-section {
    #images {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      border-radius: 8% 8%;
      img {
        width: 32%;
      }
    }
  }
}

#profile-right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-posts-section {
  @include profile-section;
}

/********** Profile Friends Option ***********/

#profile-friends-option-friends-container {
  @include profile-section;
  width: 870px;
  max-width: 98%;
  min-height: 40px;
  margin: 20px auto 50px auto;
  //gap: 5px;
  padding: 15px 15px;

  .friend-entry {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: inline-block;
    padding: 20px;

    .friend-entry-left-col {
      display: inline-flex;
      flex-direction: row;
    }

    img {
      width: $profile-friend-entry-img-rad;
      height: $profile-friend-entry-img-rad;
      flex-shrink: 0;
      background-color: rgb(51, 51, 51);
      border-radius: 8px 8px;
      margin-right: 10px;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }

    a {
      height: auto;
    }

    .MuiIconButton-root {
      font-size: small;
      width: auto;
      float: right;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #profile-two-colums,
  #profile-friends-option-friends-container {
    width: 98%;
  }
  #profile-left-column {
    position: static;
  }
}
